@media screen and (min-width:300px) and (max-width:576px){
    nav{
        display: flex;
        padding: 5px 20px;
    }
    nav ul{
        display: none;
    }  
    .input input{
        width: 140px;
        padding: 5px;
        border: none;
    }
.icon-1 {
   display: none;
}
.icon-2 {
   display: none;  
}
/* header content */
.text-image-container{
    display: block;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 20px auto 0 auto;
    text-align: center;
}
/* left side content */
.header-text{
    width: 100%;
}
.header-text h1{
    font-size: 25px;
    margin: 20px 0;
}
.header-text p{
    font-size: 12px;
}
/* right side content */
.image-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    text-align: center;
    column-gap: 0;
    row-gap: 20px;
}
/* content section start */
.contac-section{
    margin: 60px auto;
}
.contac-parent{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    justify-content: center;
    gap: 30px;
    width: 90%;
    text-align: center;
}
/* popular section start */
.popula-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 35px;
    width: 90%;
    text-align: center;
}
.popular-image img{
    width: 100%;
    height: 100%;
}
/* dom work  */
.popular-container-2{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    width: 90%;
    margin: 0 auto;
    gap: 30px;
}
.popular-container-2 img{
    width: 100%px;
    height: 100%;
    border-radius: 10px;
}
/* choose section start */
.choose-container{
    grid-template-columns:repeat(1,1fr);
    width: 90%;
}
/* client section code start */
.client-items-container{
    flex-direction: column-reverse;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
}
.client-img-name-parent{
    margin-top: 50px;
}
.client-review-parent p{
    width: 90%;
}
.client-image img{
    width: 100%;
}
/* Subcribe section code start */
.subscribe-section{
    margin:90px 20px;
}
.subscribe-container{
    display: block;
    gap: 20px;
    padding: 40px 20px;
    text-align: center;
}
.subscribe-image img{
    width: 90%;
}
.input-btn-parent input{
    width: 90%;
    border-radius: 10px;
    border: none;
}
.subscribe-btn{
    position: absolute;
    top: 4px;
    right: 27px;

}
/* footer section start */
.footer-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 90%;
    margin: 90px auto 30px auto;
}
.footer-items-2{
    display: none;
}
}
@media screen and (min-width:577px) and (max-width:768px){
 /* header content */
.text-image-container{
    display: block;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 30px auto 0 auto;
    text-align: center;
}
/* left side content */
.header-text{
    width: 100%;
}
.header-text h1{
    font-size: 30px;
    margin: 20px 0;
}
.header-text p{
    font-size: 12px;
}
/* right side content */
.image-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: center;
    column-gap: 0;
    row-gap: 10px;
}
.image-items img{
    width: 50%;
}
/* content section start */
.contac-section{
    margin: 60px auto;
}
.contac-parent{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    gap: 30px;
    width: 90%;
    text-align: center;
}
/* popular section start */
.popula-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 35px;
    width: 90%;
    text-align: center;
}
.popular-image img{
    width: 100%;
    height: 100%;
}
/* dom responsive work  */
.popular-container-2{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    width: 90%;
    margin: 0 auto;
    gap: 30px;
}
.popular-container-2 img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
/* choose section start */
.choose-container{
    grid-template-columns:repeat(1,1fr);
    width: 90%;
}
/* client section code start */
.client-items-container{
    flex-direction: column-reverse;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
}
.client-img-name-parent{
    margin-top: 50px;
}
.client-review-parent p{
    width: 90%;
}
.client-image img{
    width: 100%;
}
/* Subcribe section code start */
.subscribe-section{
    margin:90px 20px;
}
.subscribe-container{
    display: block;
    gap: 20px;
    padding: 40px 20px;
    text-align: center;
}
.subscribe-image img{
    width: 60%;
}
.input-btn-parent input{
    width: 90%;
    border-radius: 10px;
    border: none;
}
.subscribe-btn{
    position: absolute;
    top: 4px;
    right: 36px;
}
/* footer section start */
.footer-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 90%;
    margin: 90px auto 30px auto;
}
.footer-items-2{
    display: none;
}
}
@media screen and (min-width:769px) and (max-width:992px){
  /* header content */
.text-image-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 40px auto 0 auto;
}
/* left side content */
.header-text{
    width: 100%;
}
.header-text h1{
    font-size: 37px;
    margin: 20px 0;
}
.header-text p{
    font-size: 14px;
}
/* right side content */
.image-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: center;
    column-gap: 0;
    row-gap: 10px;
}
.image-items img{
    width: 80%;
}
/* content section start */
.contac-section{
    margin: 60px auto;
}
.contac-parent{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    gap: 30px;
    width: 90%;
    text-align: center;
}
/* popular section start */
.popula-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 35px;
    width: 90%;
    text-align: center;
}
.popular-image img{
    width: 100%;
    height: 100%;
}
/* dom responsive work  */
.popular-container-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 90%;
    margin: 0 auto;
    gap: 30px;
}
.popular-container-2 img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
/* choose section start */
.choose-container{
    grid-template-columns:repeat(2,1fr);
    width: 90%;
}
/* client section code start */
.client-items-container{
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
}
.client-review-parent p{
    width: 90%;
}
.client-image img{
    width: 100%;
}
/* Subcribe section code start */
.subscribe-container{
    display: flex;
    gap: 20px;
    padding: 40px 20px;
    text-align: center;
}
.subscribe-image img{
    width: 100%;
}
.input-btn-parent input{
    width: 90%;
    border-radius: 10px;
    border: none;
}
.subscribe-btn{
    position: absolute;
    top: 4px;
    right: 36px;

}
/* footer section start */
.footer-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-content: center;
    gap: 80px;
    width: 90%;
    margin: 90px auto 30px auto;
}
}
@media screen and (min-width:993px) and (max-width:1200px){
 /* header content */
.text-image-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 40px auto 0 auto;
}
/* left side content */
.header-text{
    width: 100%;
}
.header-text h1{
    font-size: 40px;
    margin: 20px 0;
}
.header-text p{
    font-size: 14px;
}
/* right side content */
.image-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: center;
    column-gap: 0;
    row-gap: 10px;
}
.image-items img{
    width: 80%;
}
/* content section start */
.contac-section{
    margin: 60px auto;
}
.contac-parent{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    gap: 30px;
    width: 90%;
    text-align: center;
}
/* popular section start */
.popula-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 35px;
    width: 90%;
    text-align: center;
}
.popular-image img{
    width: 100%;
    height: 100%;
}
/* dom responsive work  */
.popular-container-2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 90%;
    margin: 0 auto;
    gap: 30px;
}
.popular-container-2 img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
/* choose section start */
.choose-container{
    grid-template-columns:repeat(3,1fr);
    width: 90%;
}
/* client section code start */
.client-items-container{
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
}
.client-img-name-parent{
    margin-top: 50px;
}
.client-review-parent p{
    width: 90%;
}
.client-image img{
    width: 100%;
}
/* Subcribe section code start */
.subscribe-container{
    display: flex;
   
    padding: 20px 60px;
    text-align: center;
}
.subscribe-image img{
    width: 100%;
}
.input-btn-parent input{
    width: 90%;
    border-radius: 10px;
    border: none;
}
.subscribe-btn{
    position: absolute;
    top: 4px;
    right: 40px;
}
/* footer section start */
.footer-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    justify-content: center;
    /* gap: 10px; */
    width: 90%;
    margin: 90px auto 30px auto;
}
}