*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 50px;
}
.logo img{
    width: 80px;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 17px;
}
.input{
    position: relative;
}
.input input{
    padding: 5px 5px 5px 20px;
    border: none;
}
.icon-1 {
    position: absolute;
    top: 3px;
    left: 4px;
    bottom: 0;
    font-size: 14px;
}
.icon-2 {
    position: absolute;
    top: 3px;
    right: 6px;
    font-size: 14px;
    
}

/* header content */
.text-image-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1240px;
    margin: 40px auto 0 auto;
}
/* left side content */
.btn-img-parent{
    display: inline-flex;
    align-items: center;
    gap: 30px;
    background-color: #f5ddc4d8;
    padding: 5px 12px;
    border-radius: 30px;
}
.header-btn-1{
    background: none;
    border: none;
    color: #ce8b48;
}
.btn-image img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.header-text{
    width: 380px;
}
.header-text h1{
    font-size: 55px;
    font-weight: 700;
    margin: 20px 0;
}
.header-text span{
    font-weight: 700;
    color: #F48E28;
}
.header-text p{
    font-size: 14px;
    font-weight: 500;
}
.header-btn-parent{
    margin: 20px 0 40px 0;
}
.header-btn-2{
    border: none;
    background-image: linear-gradient(#EFA964,#F39333);
    border-radius: 5px;
    color: #fff;
    padding: 10px 20px;
    margin-right: 10px;
}
.header-btn-3{
    background:none;
    border: none;
    font-weight: 600;
}
.header-btn-3 i{
    color: #ce8b48;
    font-size: 20px;
}

/* right side content */
.image-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: center;
    column-gap: 80px;
    row-gap: 20px;
}
.image-items img{
    width: 190px;
}
.image-items img:hover{
    transition: all 0.5s ease-out;
    border: 1px solid gray;
}
.img-txt-items h3{
    font-weight: 600;
}
.img-txt-items h5{
    font-size: 13px;
    margin: 5px 0;
}
.img-txt-items h6{
    font-weight: 600;
}
.img-txt-items span{
    color: red;
}
/* content section start */
.contac-section{
    margin: 90px auto;
}
.contac-parent{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    gap: 30px;
    width: 1240px;
    margin: 0 auto; 
    text-align: center;
}
/* card-1 */
.contact-card i{
    background-color: #F2973D;
    color: #fff;
    padding: 7px;
    font-size: 16px;
    border-radius: 50%;
}
.contact-card h3{
    font-size: 15px;
    font-weight: 500;
    padding: 5px 0;
}
.contact-card h5{
    font-size: 13px;
}
/* popular section start */
.popular-section{
    margin: 60px auto;
}
.popular-title{
    text-align: center;
    margin-bottom: 70px;
}
.popular-title h4{
    color: #d38e48;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 5px;
}
.popular-title h2{
    font-size: 24px;
    font-weight: 500;
}
.popula-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 35px;
    width: 1240px;
    margin: 0 auto;
}
.popular-image img{
    width: 390px;
    border-radius: 10px 10px 0 0;
}
.items-container{
    display: flex;
    justify-content: space-between;
}
/* left-items */
.left-items h2{
    font-size: 20px;
    font-weight: 600;
    margin: 5px 0;
}
.left-items-btn{
    background-color: #F48E28;
    padding: 6px 14px;
    color: #fff;
    border: none;
    border-radius: 30px;
    margin: 5px 0;
}
/* right-items */
.icon-text{
    display: flex;
    align-items: center;
    gap: 5px;
}
.icon-text h4{
    font-size: 14px;
}
.right-items i{
    font-size: 14px;
    color: #ce8b48;
}
.right-items h5{
    font-size: 13px;
    margin-top: 15px;
    font-weight: 500;
}
/* popular button */
.popular-btn-icon-container{
    text-align: center;
    margin-top: 40px;
    border: none;
   
}
.popular-btn{
    background-color: #F48E28;
    color: #fff;
    padding: 10px 15px;
    font-size: 13px;
    border: none;
    border-radius: 30px;
}
/* choose section start */
.choose-container{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    gap: 60px;
    width: 1240px;
    margin: 0 auto;
    text-align: center;
}
.choose-card{
    padding: 40px 10px;
    }
.choose-card:hover{
    border: 0.5px solid rgb(184, 183, 183);
}
.choose-card i{
    background-color: #f1b27277;
    color: #ce8b48;
    padding: 9px;
    font-size: 28px;
    border-radius: 50%;
}

.choose-card h2{
    font-size: 22px;
    font-weight: 600;
    margin: 9px 0;
}
.choose-card p{
    font-size: 14px;
    font-weight: 500;
}
/* client section code start */
.client-items-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1240px;
    margin: 0 auto;
}
.client-img-name-parent{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.client-name h3{
    font-size: 20px;
    font-weight: 600;
}
.client-image h5{
    font-size: 18px;
    margin-top: 5px;
}
.client-img img{
    border-radius: 50%;
}
.client-icon{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.client-icon i{    
    background: none;
    color: #ce8b48;
    font-size: 23px;
}
.client-review-parent p{
    text-align: center;
    font-size: 15px;
    width: 610px;
}
.client-image img{
    width: 600px;
}
/* Subcribe section code start */
.subscribe-section{
    margin:90px 50px;
    background-color: black;
    color: #fff;
    border-radius: 15px;
}
.subscribe-container{
    display: flex;
    align-items: center;
    gap: 230px;
    padding: 20px 70px;
}
.subscribe-imagen img{
    width: 600px;
}
.subscribe-text h2{
    font-size: 26px;
}
.subscribe-text p{
    font-size: 15px;
    margin: 12px 0 20px 0;
    font-weight: 300;
    color: rgb(209, 208, 208);
}
.input-btn-parent{
    position: relative;
}
.input-btn-parent input{
    padding: 14px 8px;
    width: 480px;
    border-radius: 10px;
    border: none;
    outline: none;
}
.subscribe-btn{
    position: absolute;
    top: 4px;
    right: 34px;
}
.subscribe-btn button{
    background-color: #da8e42;
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 10px;
}
